<!-- 
<nav class="navbar  navbar-expand-md navbar-dark bg-dark">
    <div>
        <a class="navbar-brand" href="#">Bertha's Choclate Factory</a>
      </div>
      <div class="collapse navbar-collapse" >
        <ul class="navbar-nav mr-auto">
          
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span><i class="fa fa-fw fa-home"></i>Home</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="glyphicon glyphicon-home"></span>Shopping Cart</a>
          </li>
        </ul>
</div>
</nav>

   -->

<header></header>

   <div class="root">
<ul class="topnav">
  <li><a class="active" routerLink=''>Bertha's Deluxe Choclates Factory</a></li>
  <li class="right"><a (click)="Scart()"><img src="./assets/shoppingcart.png" class="img1"  alt= "Shopping Cart" width="20 px" height ="20 px"></a><span class="styll">{{QTY()}}</span></li>
 
  </ul>
</div>
<footer></footer>
